.promo-bg
	.container
		.row
			.col-md-8.col-md-offset-2
				.row
					.col-md-12
						.non-semantic-protector
							%h3.ribbon
								%strong.ribbon-content WORLD'S #1 FUNDRAISING SITE
					.col-md-6 Создание страницы для сбора за пару минут
					.col-md-6 Интеграция в соц. сети: Вконтакте, Одноклассники
					.col-md-6 Более 50 способов оплаты
					.col-md-6 Быстрый вывод собранных средств
					.col-md-6 Никаких ограничительных сроков
					.col-md-6 Быстрая техническая поддержка
					.col-md-12
						= link_to "Создать компанию", new_dashboard_campaign_path, class: 'btn btn-lg'
