#video {
	position: absolute;
	top: 0;
	left: 0;
	ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
	filter: alpha(opacity=50);
	opacity: 0.5;
	z-index: 0;
	width: 100%;
}


.banner-wrapper {
	// background: image-url('background.png') no-repeat 50% 50% #fff;
	background: #19191a;
	background-size: cover;
	padding: 120px 0;
	text-align: center;
	position: relative;
	color: #fff;
	font-family: 'Open Sans';
	overflow: hidden;

	.text {
		position: relative;
		z-index: 1;
	}

	h2 {
		margin-top: 0;
		font-weight: 300;
		font-size: 40px;
		text-shadow: 0px 1px 3px rgba(0,0,0,.5);
	}
	h5 {
		font-size: 16px;
		font-weight: normal;
		font-weight: 300;
		text-shadow: 0px 1px 3px rgba(0,0,0,.5);
	}

	a {
		margin-top: 20px;
		font-weight: 300;
		color: rgb(51, 51, 51);
		background-color: rgb(241, 195, 80);
		border: 0px none rgb(241, 195, 80);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		border-radius: 2px;
		padding: 10px 30px;
		box-shadow: none !important;
		&:hover, &:active, &:focus {
			background-color: darken(rgb(241, 195, 80), 8%);
			color: rgb(51, 51, 51);
		}
	}
	u {
		text-decoration: none;
		border-bottom: 2px solid;
	}
}

.category-banner-wrapper {
	// background: image-url('background.png') repeat-x top left;
	background: #1e2a33;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-align: center;
	border-bottom: 2px solid #e7e7e7;
	padding: 100px 0;
	font-family: Open Sans;
	color: #fff;
	display: table;
	width: 100%;
	font-family: Open Sans;

	.container {
		// display: table-cell;
		vertical-align: middle;
	}

	h5 {
		font-weight: 300;	
		font-size: 16px;
	}
	h2 {
		font-size: 35px;
		font-weight: 300;
	}
}

.user-banner-wrapper {
	padding: 30px 0;
	background: #fff;
	font-family: Open Sans;
	img {
		width: 150px;
		border-radius: 100px;
		// border: 2px solid #fff;
	}
}


.counters {
	margin-top: 30px;
	font-size: 0;
	height: 54px;
	overflow: hidden;

	.counter {
		font-size: 30px;
		line-height: 1;
		font-weight: 300;
		min-width: 155px;
		display: inline-block;
		padding: 0 14px;
		color: #333;
		background: #f8f8f8;
		padding: 10px;
		border-radius: 3px;
		margin-bottom: 5px;
		margin-right: 15px;
		label {
			// display: block;
			font-weight: 100;
			color: #999;
			font-size: 14px;
		}
	}
}

.user-table {
	display: table;
	.user-cell {
		display: table-cell;
		vertical-align: middle;
		h2, h5 {
			margin: 0;
		}
		h2 {
			margin-bottom: 5px !important;
		}
		h5 {
			color: #999;
		}
		// .counters {
		// 	margin-left: -15px;
		// }
	}
}

.padding-left-30 {
	padding-left: 30px;
}
