#video {
	position: absolute;
	top: 0;
	left: 0;
	ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
	filter: alpha(opacity=50);
	opacity: 0.5;
	z-index: 0;
	width: 100%;
}


.banner-wrapper {
	// background: image-url('background.png') no-repeat 50% 50% #fff;
	background: #19191a;
	background-size: cover;
	padding: 120px 0;
	text-align: center;
	position: relative;
	color: #fff;
	font-family: 'Open Sans';
	overflow: hidden;

	.text {
		position: relative;
		z-index: 1;
	}

	h2 {
		margin-top: 0;
		font-weight: 300;
		font-size: 40px;
		text-shadow: 0px 1px 3px rgba(0,0,0,.5);
	}
	h5 {
		font-size: 16px;
		font-weight: normal;
		font-weight: 300;
		text-shadow: 0px 1px 3px rgba(0,0,0,.5);
	}

	a {
		margin-top: 20px;
		font-weight: 300;
		color: rgb(51, 51, 51);
		background-color: rgb(241, 195, 80);
		border: 0px none rgb(241, 195, 80);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		border-radius: 2px;
		padding: 10px 30px;
		box-shadow: none !important;
		&:hover, &:active, &:focus {
			background-color: darken(rgb(241, 195, 80), 8%);
			color: rgb(51, 51, 51);
		}
	}
	u {
		text-decoration: none;
		border-bottom: 2px solid;
	}
}

.category-banner-wrapper {
	// background: image-url('background.png') repeat-x top left;
	background: #1e2a33;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-align: center;
	border-bottom: 2px solid #e7e7e7;
	padding: 100px 0;
	font-family: Open Sans;
	color: #fff;
	display: table;
	width: 100%;
	font-family: Open Sans;

	.container {
		// display: table-cell;
		vertical-align: middle;
	}

	h5 {
		font-weight: 300;	
		font-size: 16px;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		font-weight: normal;
	}
	h2 {
		font-size: 35px;
		font-family: "arvobold";
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
	}
}

.user-banner-wrapper {
	text-align: center;
	padding: 30px 0 0;
	background: #fff;
	font-family: Open Sans;
	position: relative;
	color: #fff;
	overflow: hidden;
	position: relative;
	background-image: url(/cover.png);
	-webkit-transform: translate3d(0, 0, 0);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	> .rel {
		position: relative;
	}
	img {
		width: 100px;
		border-radius: 50px;
		border: 2px solid #fff;
	}
	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba(47, 47, 47, 0.3);
		content: " ";
		display: block;
		z-index: 0;
	}
	h2, h5 {
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
	}
	h5 {
		display: block;
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 1.3;
		text-transform: none;
		font-weight: 300;
		margin-top: 0;
	}
	h2 {
		font-size: 36px;
		margin: 25px 0 0 !important;
		font-family: 'bebas_neueregular', Arial;
	}
}


.counters {
	margin-top: 50px;
	font-size: 0;
	height: 65px;
	overflow: hidden;
	position: relative;
	padding: 15px 0;
	background-color: rgba(64, 64, 64, 0.8);
	font-family: 'bebas_neueregular', Arial;

	.counter {
		font-size: 33px;
		line-height: 1;
		font-weight: 300;
		min-width: 155px;
		display: inline-block;
		padding: 0 14px;
		color: #fff;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		padding-right: 15px;
		border-left: 1px solid #757575;
		margin-bottom: 15px;

		&:first-child {
			border: none;
		}

		label {
			text-align: left;
			font-weight: 100;
			color: #fff;
			font-size: 14px;
		}
	}
}

.padding-left-30 {
	padding-left: 30px;
}
