.myf-btn {
	border-radius: 3px;
	border: 0;
	background: #aaa;
	font-weight: 300;
	color: white;

	&:active, &:focus, &:hover {
		background: lighten(#aaa, 5%);
		color: white;
	}

	&.myf-btn-primary {
		background: #71ab62;
		&:active, &:focus, &:hover {
			background: lighten(#71ab62, 5%);
			color: white;
		}
	}
}

.btn-myf {
	background: #71ab62;
	color: #fff;
	border: 0;
	&:hover, &:active, &:focus {
		background: lighten(#71ab62, 5%);
		color: #fff;
	}
}

.btn-myf-gray {
	color: #999 !important;
	border: 1px solid #999 !important;
	background: #fff !important;
}
