.myf-btn {
	border-radius: 3px;
	border: 0;
	background: #aaa;
	font-weight: 300;
	color: white;

	&:active, &:focus, &:hover {
		background: lighten(#aaa, 5%);
		color: white;
	}

	&.myf-btn-primary {
		background: #1f7f5c;
		&:active, &:focus, &:hover {
			background: lighten(#1f7f5c, 5%);
			color: white;
		}
	}
}
