.new-campaign-block {
	background: #fff;
	padding: 30px;
	margin: 30px auto;
	max-width: 600px;
	padding: 40px;
	border-radius: 3px !important;
	border: 2px solid rgb(231, 231, 231);

	h4, h3 {
		margin-top: -20px;
		margin-bottom: 20px;
	}

	.goal {
		background: rgb(243, 249, 228) none repeat scroll 0% 0%;
		margin: 20px -40px;
		padding: 0px 30px;
		font-size: 100px;
		color: rgb(95, 126, 25);
		line-height: 110px;
		input {
			max-width: 100%;
			background: transparent none repeat scroll 0% 0%;
			border: 0px none;
			width: 355px;
			letter-spacing: -5px;
			height: 156px;
		}
	}
	.helper {
		text-align: center;
		font-size: 13px;
		color: #666;
	}

	.field_with_errors {
		color: red;
		input {
			color: red;
		}
	}
	.btn {
		width: 250px;
		border-radius: 3px;
		font-weight: 300;
	}

	.grayed {
		background: rgb(238, 238, 238) none repeat scroll 0% 0%;
		padding: 20px;
		margin: 0px -40px 30px;
		a {
			display: block;
			border: 1px solid rgb(204, 204, 204);
			padding: 10px 5px;
			font-size: 11px;
			text-align: center;
			color: rgb(102, 102, 102);
			background: white;
			font-weight: bold;
			i {
				display: block;
				font-size: 50px;
				margin-bottom: 15px;
			}

			&:hover, &:active, &:focus {
				text-decoration: none;
				color: #000;
			}
		}
	}
}


.photo-wrapper {
	column-count: 3;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-gap: 15px;
	-webkit-column-gap: 15px;
	-moz-column-gap: 15px;

	.photo {
		height: 120px;
		overflow: hidden;
		margin-bottom: 15px;

		img {
			width: 100%;
		}
	}
}
