.donation {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ececec;

	&:last-child {
		border: none;
	}

	.donation-image, .donation-info {
		display: table-cell;
		vertical-align: middle;
	}

	.donation-image {
		width: 50px;
		padding-right: 15px;
		img {
			width: 50px;
			height: 50px;
			border-radius: 25px;
		}
	}
	.donation-info {
		.info {
			font-weight: 300;
			color: #999;
			b {
				font-weight: 300;
				color: #333;
				font-size: 18px;
			}
			a, u {
				text-decoration: none;
				border-bottom: 2px solid #eee;
				color: #999;
			}
			a {
				&:hover, &:focus, &:active {
					color: #666;
				}
			}
		}
		.time {
			font-size: 12px;
			font-weight: 300;
			color: #999;
		}
		.description {

		}
		
	}

	p {
		margin: 5px 0 0;
		color: rgba(0, 0, 0, 0.35);
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 20px;
		font-weight: normal !important;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
	}

	a {
		&.bordered {
			text-decoration: none;
			border-bottom: 2px solid #eee;
			color: #999;
			padding-bottom: 1px;
			&:hover, &:focus, &:active {
				color: #666;
			}
		}
	}
}
