body {
	padding-top: 50px;
}

#categories-wrapper {
	a {
		padding: 5px;
		display: block;
		margin-bottom: 5px;
		color: #666;
		border-radius: 3px;
		background: #fafafa;

		&:hover {
			text-decoration: none;
			color: #000;
		}
		img {
			margin-right: 10px;
		}
		&.active {
			background: #fff;
		}
	}

	h5 {
		text-transform: uppercase;
		margin-top: 30px;
		margin-bottom: 15px;
	}
}


.main-wrapper {
	padding-top: 30px;
}

.ad-sense {
	width: 160px;
	border: 1px solid #333;
	margin: 30px auto;
	.ad-wrapper {
		display: table-cell;
		width: 160px;
		vertical-align: middle;
		text-align: center;
		height: 600px;
	}
}

footer {
	padding: 30px 0 0;
	// background-color: #F2F2F6;
	border-top: 2px solid #e7e7e7;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		&.footer-menu {
			float: right;
			padding: 10px 0;
			li {
				line-height: 25px;
				display: inline-block;
				margin-left: 20px;
				color: #666;
			}
		}
	}
	h5 {
		text-transform: uppercase;
		color: #666;
	}
	a {
		color: #666;
		line-height: 25px;
		&:hover, &:active, &:focus {
			color: #000;
		}
	}

	#supported-currencies {
		border-top: 2px solid rgb(229, 229, 229);
		border-bottom: 2px solid rgb(229, 229, 229);
		padding: 10px 0px;
		margin-top: 30px;
		img {
			width: 25px;
			height: 25px;
		}
		span {
			vertical-align: middle;
			margin-left: 15px;
			color: #666;
		}
	}
}


.fake-share {
	display: block;
	// min-width: 70px;
	text-align: center;
	color: white;
	line-height: 25px;
	float: right;
	font-size: 12px;
	padding: 0px 10px;
	border-radius: 3px;
	vertical-align: top;
	color: white !important;
	&.fb {
		background: rgb(54, 88, 153) none repeat scroll 0% 0%;
	}
	&.twitter {
		background: #1b95e0;
	}
}
