body {
	padding-top: 50px;

	&.gray {
		background: #eee;
	}

	&.gray-striped {
		background: #ffffff;
		background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, #eeeeee 50%, #eeeeee 100%);
		background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 50%,#eeeeee 50%,#eeeeee 100%);
		background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,#eeeeee 50%,#eeeeee 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=1 );
	}
	&.gray-striped-inverse {
		background: #eee;
		background: -moz-linear-gradient(left, #eee 0%, #eee 50%, #fff 50%, #fff 100%);
		background: -webkit-linear-gradient(left, #eee 0%,#eee 50%,#fff 50%,#fff 100%);
		background: linear-gradient(to right, #eee 0%,#eee 50%,#fff 50%,#fff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee', endColorstr='#fff',GradientType=1 );
	}
}

#categories-wrapper {
	a {
		padding: 2px 0;
		display: block;
		margin-bottom: 5px;
		color: #666;
		border-radius: 3px;
		// background: #fafafa;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-family: Open Sans;

		&:hover {
			text-decoration: none;
			color: #000;
		}
		img {
			margin-right: 10px;
		}
		&.active {
			background: #fff;
		}
	}

	h5 {
		text-transform: uppercase;
		margin-top: 30px;
		margin-bottom: 15px;
		font-family: Open Sans;
	}
}

.ad-sense {
	width: 160px;
	border: 1px solid #333;
	margin: 30px auto;
	.ad-wrapper {
		display: table-cell;
		width: 160px;
		vertical-align: middle;
		text-align: center;
		height: 600px;
	}
}

footer {
	padding: 30px 0 0;
	background: #1b1924;
	font-family: 'Open Sans';

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		&.footer-menu {
			float: right;
			padding: 10px 0;
			li {
				line-height: 25px;
				display: inline-block;
				margin-left: 20px;
				color: #a3a6a8;
			}
		}
	}
	h5 {
		// text-transform: uppercase;
		font-size: 20px;
		color: #fff;
	}
	a {
		color: #a3a6a8;
		line-height: 25px;
		&:hover, &:active, &:focus {
			color: #fff;
		}
	}

	#supported-currencies {
		border-top: 2px solid #263238;
		border-bottom: 2px solid #263238;
		padding: 10px 0px;
		margin-top: 30px;
		img {
			width: 25px;
			height: 25px;
		}
		span {
			vertical-align: middle;
			margin-left: 15px;
			color: #a3a6a8;
		}
	}
}


.fake-share {
	display: block;
	// min-width: 70px;
	text-align: center;
	color: white;
	line-height: 25px;
	float: right;
	font-size: 12px;
	padding: 0px 10px;
	border-radius: 3px;
	vertical-align: top;
	color: white !important;
	&.fb {
		background: rgb(54, 88, 153) none repeat scroll 0% 0%;
	}
	&.twitter {
		background: #1b95e0;
	}
}

#add-email {
	max-width: 600px;
	padding: 40px;
	margin: 30px auto;
	background: white none repeat scroll 0% 0%;
	border-radius: 3px !important;
	border: 2px solid rgb(231, 231, 231);
	h2 {
		margin-top: 0;
		text-align: center;
	}
}
.dropdown-menu {
	width: 100%;
}


#fundraise-container {
	// width: 100%;
	// > .row {
	// 	display: table;
	// 	width: 100%;
	// }
	.sidebar-wrapper, .main-wrapper {
		display: table-cell;
		vertical-align: top;
		float: none;
	}
	.sidebar-wrapper {
		background: white;
	}
	.main-wrapper {
		padding: 30px 15px 0;
		background: rgb(238, 238, 238) none repeat scroll 0% 0%;
	}
	.row {
		display: table;
		width: 100%;
	}
}
.campaigns-row {
	margin-right: -7.5px;
	margin-left: -7.5px;
	font-size: 0;
}

.homepage {
	.sidebar-wrapper {
		box-shadow: 0px 0.2rem 0.1rem -0.1rem rgb(224, 224, 224) inset;
	}
	.main-wrapper {
		box-shadow: 0px 0.2rem 0.1rem -0.1rem rgb(224, 224, 224) inset;
	}	
}

.pagination {
	background: white none repeat scroll 0% 0%;
	padding: 5px 10px;
	font-family: Open Sans;

	span {
		&.current {
			background: #71ab62;
			color: #fff;
			border-radius: 2px;
			min-width: 35px;
			line-height: 35px;
			display: inline-block;
			text-align: center;
			padding: 0 5px;
		}
		&.first, &.last {
			display: none;
		}
	}

	a {
		color: #666;
		padding: 0 5px;
		background: white none repeat scroll 0% 0%;
		color: rgb(102, 102, 102);
		border-radius: 2px;
		min-width: 35px;
		line-height: 35px;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		&:hover, &:active, &:focus {
			background: #eee;
		}
	}
}


.btn {
	font-family: Open Sans;
	font-weight: 300;
	transition: background ease 300ms;
	box-shadow: none !important;
}

.fake-avatar {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: 300;
	font-size: 20px;
	background: rgb(238, 238, 238) none repeat scroll 0% 0%;
	border-radius: 25px;
	color: rgb(153, 153, 153);
	&.small {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 12px;
	}
}

.regular-currency {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

a {
	outline: none !important;
}

h4 {
	&.heading {
		font-weight: 300;
		font-family: "Open Sans";
		font-size: 20px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
}


.errors {
	.alert {
		border-radius: 0;
		border: 0;
		width: 100%;
		padding-bottom: 0;
		margin-bottom: 0;

		&:last-child {
			padding-bottom: 15px;
			margin-bottom: 20px;
		}
	}
}
