#partners-flex {
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
}
#partners-wrapper {
	// border-bottom: 2px solid #e7e7e7;
	box-shadow: 0 0.2rem 0.1rem -0.1rem #e0e0e0;
	background: white;
}
