#partners-flex {
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
}
#partners-wrapper {
	border-top: 1px solid #e0e0e0;
	// box-shadow: 0 0.2rem 0.1rem -0.1rem #e0e0e0;
	background: white;
}
