- meta title: "Цены и тарифы - MyFundraise"

.page-header.gutter-top-0
  %h1.gutter-top-0 Цены и тарифы

%p Для России и Украины

= image_tag 'pricing.png'

%p
  %b Почему myfundraise берет 5% ?

%p На myfundraise большие операционные расходы, такие как аренда серверов, зарплаты, продление доменов и др.. Мы специально убрали любые отвлекающие рекламные блоки со страницы сбора вашей компании. Каждый день мы пытаемся усовершенствовать сервис и сделать его еще более практичным, чтобы каждый смог привлечь еще больше денег.

%p Именно поэтому платформа myfundraise считается №1  по сбору средств в СНГ. Здесь Вы можете быстро и легко собрать деньги на любые нужды.
