- meta title: "Политика конфиденциальности - MyFundraise"

.page-header.gutter-top-0
  %h1.gutter-top-0 Политика конфиденциальности

%p Когда вы взаимодействуете с нами, мы можем собирать персональные данные и другую информацию о вас, такую как: 

%p
  %b Информация от пользователей.
  Чтобы воспользоваться нашим сервисом вам необходимо авторизоваться с помощью соц. сети, либо зарегистрироваться с использованием своей электронной почты . При создании аккаунта мы запрашиваем персональные данные, например имя, фамилия, адрес электронной почты и сохраняем их в вашем аккаунте.

%p
  %b Информация месторасположения.
  При создании собственной компании по сбору средств сервис попросит Вас указать город вашего месторасположения. Имейте ввиду, что другие пользователи будут видеть эту информацию.

%p
  %p Интеграция с соц. сетями.
  Одной из особенностей нашего сервиса является то, что он позволяет зайти или зарегистрироваться с помощью социальной сети, такой как Вконтакте или Одноклассники. Чтобы зарегистрироваться таким образом, вам необходимо предоставить нам разрешение через соответствующий сервис в социальной сети. При такой регистрации, используя соц. сети, мы будем использовать нужную информацию для регистрации компании. Имейте ввиду, что другие пользователи смогут перейти и посмотреть ваш профиль в соц. сети.

%p
  %b Платежные данные.
  Касаемо оплаты и выплаты участникам нашего сервиса безопасность и конфиденциальность обеспечивает сервис interkassa, который обязуется не передавать информацию об оплате третьим лицам.

%p Как уже отмечалось, Вы можете посетить сервис без использования своих персональных данных. Если Вы решите не предоставлять какие-либо данные, Вы не сможете пользоваться некоторыми услугами.
Наши услуги могут меняться время от времени. В результате порой потребуется вносить изменения в настоящую политику конфиденциальности. MyFundraise оставляет за собой право обновлять или изменять политику конфиденциальности в любое время.

%p Если у Вас возникли какие либо вопросы Вы можете их задать написав нам на электронный адрес.
