- meta title: "Вопросы - MyFundraise"

.page-header.gutter-top-0
  %h1.gutter-top-0 Вопросы

.form-group
  = form_tag questions_path, method: :get do
    = text_field_tag :search, params[:search], class: "form-control", placeholder: "Быстрый поиск вопроса"

= render @questions

= link_to "Задать вопрос", send_question_path
