- meta title: "Условия пользования"

.page-header.gutter-top-0
  %h1.gutter-top-0 Условия пользования

%p
  %b Описание Услуги:
  Наши услуги предоставляют пользователю («Организатор акции») возможность собирать денежные пожертвования  от пользователей («Доноров»), желающих внести средства на избирательную кампанию. Организатором акции может являться любое физическое лицо, являющееся гражданином России или Украины.

%p
  %b Благотворительность:
  MyFundraise это не благотворительность. Помогая кому-нибудь через сервис Вы осознаете что это не благотворительная помощь. С каждого пожертвования взимается комиссия, подробнее в Цены и тарифы.

%p
  %b Услуги платформы; мы не являемся брокером, финансовым Учреждением, кредитором или благотворительным учреждением:
  MyFundraise облегчает процесс сделки и не является участником сделки между Организаторами акции и донорами. MyFundraise не является посредником, агентом, финансовым учреждением, кредитором или страховщиком для любого пользователя.  MyFundraise не имеет никакого контроля над поведением сделки и мы отказываемся от любой ответственности в этом отношении в полной мере.
%p У нас нет возможности проверить что пожертвования будут использованы в соответствии с целью сбора средств, предусмотренных организатором акции. Мы не несем никакой ответственности, в том, что пожертвования используются в соответствии с действующим законодательством; такая ответственность возлагается на организатора акции. Если у Вас есть основание полагать, что организатор акции использует средства не по назначению, то пожалуйста напишите нам на электронную почту.
%p Вы, как организатор акции, заявляете, гарантируете и подтверждаете, что вся информация, которую вы предоставляете о компании, является точной, полной, а не иначе вводят людей в заблуждение, ради обмана пользователей; все пожертвования внесенные пользователями в вашу компанию будут использоваться исключительно как указано в материалах, которые вы публикуете.

%p
  %b Ваши обязательства при регистрации:
  Вы обязаны сперва зарегистрироваться для дальнейшего использования сервиса. При регистрации Вы соглашаетесь предоставить точную и правдивую информацию о себе и о вашем сборе. Если Вам не исполнилось 14 лет Вы не имеете право использовать наш сервис. Регистрируясь Вы обязуетесь не использовать сервис для:
  %ul
    %li деятельности, которая нарушает закон;
    %li создание компаний, в целях мошенничества, ввод людей в заблуждение;
    %li продажа наркотиков и других веществ, которые плохо влияют на здоровье человека;
    %li страхования, инвестиций, акций или лотереи договоров, лежащих вдали системах, офшорные банки или аналогичные сделки, деньги, предприятия сферы обслуживания (в том числе по обмену валюты, обналичивание чеков и т. п.), взыскание задолженности или крипто-валют.

%p
  %b Учетная запись, пароль и безопасность:
  Вы несете ответственность за сохранение конфиденциальности вашего пароля и учетной записи, если таковые имеются, и полностью ответственны за все действия, которые происходят под вашим паролем или учетной записью. MyFundraise не несет ответственности за любые убытки или ущерб, которые возникли при несоблюдении безопасности.
