.campaign-shares
	= link_to [object, Like.new], data: { method: :post, remote: true }, class: "gutter-left--5" do
		- if current_user && current_user.like?(object)
			= fa_icon :"heart", class: "gutter-right-3"
		- else
			= fa_icon :"heart-o", class: "gutter-right-3"
		- if object.likes_count > 0
			%b= number_with_delimiter object.likes_count
